<h1>Tags</h1>

<table>
  <thead>
    <th> Title </th>
    <th> Actions </th>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.title %></td>
        <td><%= link_to "Show", tag_path(tag) %> | 
          <%= link_to "Edit", edit_tag_path(tag) %> | 
          <%= link_to 'Destroy', tag, :confirm => 'Are you sure?', :method => :delete %> 
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= link_to "New", new_tag_path %>
